@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  background-color: #ededed;
  background: var(--color-black-1);
}

.title {
  color: var(--color-red);
  font-size: 1.5rem;
  font-style: italic;
}

@media screen and (min-width: 30rem) {

    .title{
        font-size: 2.5rem;   
    }
}
@media screen and (min-width: 40rem) {

    .title{
        font-size: 2.5rem;   
    }
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-top: 20px;
}

#grid-container {
  display: grid;
  width: 90%;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  height: 280px;
  box-shadow: 0 0 4px #ccc;
  margin-bottom: 10px;
}
.btns {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 40rem) {
  #grid-container {
    width: 50%;
  }
}

@media screen and (min-width: 50rem) {
  .btns {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-item {
  /* border: 1px solid #ddd; */
  text-align: center;
  background-color: #fff;
}

#slidecontainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
}

input[type="number"] {
  padding: 0.4rem;
  width: 7.5rem;
}

input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 4px #ccc;
}

input[type="number"]:hover {
  box-shadow: 0 0 4px #ccc;
}

.dark {
  background-color: #000;
  /* }
.light{
    background-color: #fff;
} */
}

button {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  margin: 8px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  color: var(--color-white);
  transition: var(--speed-normal);
  border: 1px solid var(--color-red);
  cursor: pointer;
}

button:hover {
  border: 1px solid transparent;
  background: var(--color-red) url("https://i.postimg.cc/wBXGXbWN/pixel.png"); /* 360px x 1080px */
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate var(--speed-fast) steps(8) forwards;
}

.random-color,
.default-color {
  border: 1px solid var(--color-purple);
}
.random-color:hover,
.default-color:hover {
  background: var(--color-purple)
    url("https://i.postimg.cc/FzBWFtKM/pixel2.png"); // 360px x 1080px
}
@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
